body {
    font-family: Arial, Helvetica, sans-serif;
    background: #56738C;
    color: #011C40;
    margin: 0;
    padding: 0;
}

#title h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    padding: 0 10px;
    
}

.top, #projects {
    text-align: center;
    padding: 20px 0;
    background-color: #56738C;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.assignment-container, .project-container {
    border: 2px solid #B8CAD9;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assignment-container a, .project-container a {
    text-decoration: none;
    color: #011C40;
    
}

.assignment-container h4, .project-container h4 {
    margin: 10px 0;
}

.assignment-container img, .project-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.assignment-container p, .project-container p {
    text-align: left;
    margin-top: 0;
    font-size: larger;
}

#main-footer {
    padding:10px;
    background-color: #F2F2F2;
    text-align: center;
    margin-top: 20px;
}

@media only screen and (min-width: 900px) {
    .columns {
        justify-content: center;
    }
    
    .assignment-container, .project-container {
        width: calc(33% - 40px); /* Adjust for 3 cards per row */
    }
}
