body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #025159;
}


/* Structure */
.top{
    text-align: center;
    
    
}
.columns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.container{
    
    margin: 20px;
    padding: 20px;
    background-color: #038C8C;
    width: calc(50% - 40px);
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:500px;
}
.thehead{
    text-align: center;
}
/* Styling the slider track */
#squareRangeSlider {
    -webkit-appearance: none; 
    width: 100%; /* Full-width */
    height: 10px; /* Height of the track */
    background: #ddd; /* Background color */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Partial transparency */
    transition: opacity 0.2s; /* Transition for hover effect */
}

#squareRangeSlider:hover {
    opacity: 1; /* Fully opaque on hover */
}

/* Styling the slider thumb */
#squareRangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    background: #8C452B; 
    cursor: pointer; 
}

#squareRangeSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #8C452B; 
    cursor: pointer; 
    border: 1px solid #333; 
}
#stars{
    background-color: #8C452B;
}
#star img{
    width: 200px;
    height: 200px;
}
.hidden {
    display: none;
}



/* Typography */



@media only screen and (max-width: 900px) {
    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .container {
        width: 100%; /* Increase the width */
        max-width: none; /* Remove max-width limitation */
        margin-top: 0;
        margin: 0;
        border-bottom: 5px solid gray;
    }

    #stars {
        width: 100%; 
        
    }


    #star img {
        width: 100%; 
        height: auto; 
    }


}
