body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Dark background */
}

nav {
    background-color: #1F1B24; /* Darker shade for the nav */
    color: #FFFFFF; /* White text for contrast */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.logo h1 {
    margin: 0;
    color: orangered; /* Bright accent color for branding */
}
#main-content{
    border-radius: 5px;
    text-align: center;
    align-items: center;
}
.news{
    display: flex;
    width: 100%;

}
.search-input {
    border: none;
    padding: 10px;
    margin-right: 10px;
    flex-grow: 1;
}


/* Keyframes for typing and blink-cursor animations */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-cursor {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

#typing-logo {
    font-family: 'Courier New', monospace;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-cursor .75s step-end infinite;
}
#game-pulse-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1B24;
    color: #ffffff;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    position: absolute;
    margin-left: 500px;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    background: orangered;
    transition: width .3s;
    
}

.nav-links a:hover::after {
    width: 100%;
}

.hamburger {
    display: none; /* Initially hide the hamburger menu */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 25px; /* Adjust based on your design */
    width: 30px;
}

.line {
    display: block; /* Make sure lines are block-level elements */
    width: 100%;
    height: 3px;
    background-color: orangered; /* This makes the lines white */
}
.slider-frame{
    overflow: hidden;
    width: 800px;
    height: 1200px;
    margin-left: 360px;
    margin-top: 20px
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Adjust column sizes for a more compact layout */
    grid-template-rows: 200px 100px; /* Specify row sizes, making the second row smaller */
    gap: 10px; /* Adjust the gap if needed */
    width: 80%; /* Adjust the width of the container to take less page width */
    max-width: 960px; /* You can adjust this for a maximum width */
    margin: 20px auto; /* Center the container with automatic margins */
}

.box {
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; /* Added for positioning the image correctly */
}




@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    .logo {
        position: relative; /* Adjust if necessary */
        z-index: 3; /* Higher than the hamburger and nav-links to prevent cut-off */
        text-align: center; /* Center-align the logo */
    }

    .logo h1 {
        font-size: 20px; /* Adjust the font size for small screens */
    }
    .hamburger {
        display: flex; /* Show the hamburger menu on smaller screens */
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 60px; /* Adjust based on the height of your nav bar */
        background-color: #1F1B24; /* Same as nav background */
        flex-direction: column;
        align-items: center;
        width: 100%; /* Full width */
        display: none; /* Initially hide the nav links */
        transition: transform 0.3s ease-in;
        gap: 20px;
    
    
    }

    .nav-links.active {
        display: flex; /* Show nav links when active */
        transform: translateX(0); /* Ensure it slides in correctly */
    }
   
   
}
