:root {
    --primary-color: #1F1B24; /* Darker primary color */
    --hover-color: orangered; /* Vibrant hover color */
    --text-color: #BBBBBB; /* Light grey text for readability */
    --background-color: #121212; /* Very dark background for main areas */
    --modal-background: #1E1E1E; /* Dark background for modals */
    --shadow-color: rgba(255, 255, 255, 0.1); /* Lighter shadow color for depth */
}
.w3-button.w3-display-topright {
    color: black !important; /* Always black, overriding other styles */
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}
.edit-game-btn {
    margin-right: 10px; /* Adjust the value as needed */
}

.edit-game-btn, .delete-game-btn {
    margin-right: 10px;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px var(--shadow-color);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 15px;
    padding: 5px 10px;
    background-color: var(--hover-color);
    border-radius: 5px;
    transition: background-color 0.3s;
}

header a:hover {
    background-color: orangered;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.w3-quarter {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.w3-quarter:hover {
    transform: translateY(-5px);
}

.w3-modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: all 0.3s ease;
}

.w3-button {
    cursor: pointer;
}

.w3-container {
    padding: 20px;
    background-color: var(--modal-background);
}

.game-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.game-edit, .game-delete {
    margin-left: 25px;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: bold;
}

.game-edit:hover, .game-delete:hover {
    color: var(--hover-color);
}

#platform-boxes input, #title, #description {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#gameArtwork {
    display: block;
    margin-top: 10px;
}

#artwork-prev {
    max-width: 100px;
    margin-top: 10px;
    border-radius: 5px; /* Added border-radius */
}

button, .edit-game-btn, .delete-game-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   margin-left: 200px;
}

button:hover, .edit-game-btn:hover, .delete-game-btn:hover {
    background-color: var(--hover-color);
    color: white;
}

#addPlatform {
    background-color: #28a745;
    border-color: #28a745;
}

#addPlatform:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

#game-details-content img {
    max-width: 50%;
    display: block;
    margin: 10px auto;
    border-radius: 5px; /* Soften the edges */
}

.edit-game-btn, .delete-game-btn {
    margin: 10px 5px; /* Adjust spacing */
}

.edit-game-btn {
    background-color: #4CAF50; /* Green */
}

.delete-game-btn {
    background-color: red; /* Red */
}

.edit-game-btn:hover {
    background-color: #45a049;
}

.delete-game-btn:hover {
    background-color: #d32f2f;
}

.game-actions {
    text-align: right;
    padding-bottom: 20px;
}

nav {
    background-color: #1F1B24; /* Darker shade for the nav */
    color: #FFFFFF; /* White text for contrast */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
#typing-logo {
    font-family: 'Courier New', monospace;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-cursor .75s step-end infinite;
}
#game-pulse-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1B24;
    color: #ffffff;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    position: absolute;
    margin-left: 500px;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    background: orangered;
    transition: width .3s;
    
}
#items-list{
    color: white;
    
}
.nav-links a:hover::after {
    width: 100%;
}

/* Responsive layout adjustments */
@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }

    .w3-modal-content {
        width: 90% !important; /* Override w3.css settings for smaller screens */
    }
    .nav-links {
        position: absolute;
        right: 0;
        top: 60px; /* Adjust based on the height of your nav bar */
        background-color: #1F1B24; /* Same as nav background */
        flex-direction: column;
        align-items: center;
        width: 100%; /* Full width */
        display: none; /* Initially hide the nav links */
        transition: transform 0.3s ease-in;
        gap: 20px;
    
    
    }

    .nav-links.active {
        display: flex; /* Show nav links when active */
        transform: translateX(0); /* Ensure it slides in correctly */
    }
}